<div class="centerbox">
  <div class="slide centerbox">
    <div class="creation_mask"></div>
    <div class="slide_inner">
      <% @notes.each do |n| %>
        <%= render :partial => "format_note", :object => n %>
      <% end %>
    </div>
  </div>
</div>
