#content {
  float: left;
  margin: 20px;
}
#preview {
  float: left;
  width: 700px;
  border: 1px solid darkGray;
  margin: 20px 0;
  padding: 0 1em;
}
#test {
  overflow: hidden;
  clear: both;
  }

.block {
  margin: 0 20px;
  width: 500px;
}
.breathing-room {
  margin: 40px 20px;
}
.pink {
  color: #FF0066;
}
