#preview {
  float: right;
  width: 500px;
  border: 1px solid darkGray;
  margin: 20px 0;
  padding: 1em;
  height: 600px;
  overflow: auto;
  overflow-x: hidden;
}
#new_post, .edit_post {
  float: left;
  overflow: hidden;
}
#test {
  overflow: hidden;
  clear: both;
}
.pink {
  color: #FF0066;
}
#post_content {
  margin-top: 21px;
}
#calculator_entry {
}
#calculator_display {
}
form {
  float: left;
}
textarea {
  width: 400px;
  height: 572px;
}
canvas {
  border: 1px solid darkGray;
}
