.draggable { 
  border: 1px dashed #777; 
  overflow: hidden; 
  float: left; 
}
.resizable {
  margin: 20px;
}
.ui-widget-header p, .ui-widget-content p { 
  margin: 10px; 
}
input {
position: absolute !important;
right: 8px !important;
bottom: 8px;
}
textarea {
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: none;
}
.formatted_content {
  overflow: ellipsis;
}

